@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.right-section h4{
    font-size: 1.6rem;
    font-weight: 600;
}
.right-section p{
    font-size: 0.9rem;
    font-weight: 500;
}
.link-shop{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: text-decoration 0.3s ease;
    color: #3061EF;
}
.link-shop:hover{
    text-decoration: underline;
}
.start-section{
    margin-top: -12px;
}
.product-info{
    background-color: #f6f2e7;
}
.category-info{
    font-size: 0.56rem;
    font-weight: 600;
    background-color: #cacdd2;
    color: #000;
}
.price-info{
    font-size: 0.8rem;
    font-weight: 700;
}
.product-name{
    font-size: 0.8rem;
    font-weight: 700;
}
.description-info{
    font-size: 0.8rem;
    color: #6C757D;
    font-weight: 500;
}
.view-btn{
    background-color: #3061EF;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}
.view-btn:hover{
    opacity: 0.9;
}