@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #333333;
}
.navbar-brand{
    color: #fff;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
}
.navbar-brand:hover{
    color: #ffc0cd;
}
.nav-link{
    color: #fff;
    font-family: "Lato", serif;
    font-weight: 500;
    font-style: normal;
}
.nav-link:hover{
    color: #ffc0cd;
}
.search-bar::placeholder{
    font-family: "Lato", serif;
    font-weight: 500;
    font-style: normal;
}
.search-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -12px;
}