{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>ShopEase - Customers</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/customers.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="customers pt-3 pb-3">ShopEase Customers</h2>
        <table class="table table-striped">
            <thead class="headers">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Details</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            {% for customer in data.object_list %}
                <tbody class="customer-details">
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.last_name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>
                            <a href="{% url 'customer_details' customer.id %}" class="btn btn-sm btn-info">Details</a>
                        </td>
                        <td>
                            <a href="{% url 'update_customer' customer.id %}" class="btn btn-sm btn-primary">Update</a>
                        </td>
                        <td>
                            <a href="{% url 'delete_customer' customer.id %}" class="btn btn-sm btn-danger">Remove</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}

        </table>


         <div class="row justify-content-center">
            <div class="col-sm-2">
                {% if data.has_previous %}
                    <a class="btn btn-outline-info btn-sm" href="?page={{ data.previous_page_number }}"> << </a>
                {% endif %}
                <span class="mx-3">{{ data.number }}</span>
                {% if data.has_next %}
                    <a class="btn btn-outline-info btn-sm" href="?page={{ data.next_page_number }}"> >> </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
