{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>ShopEase - Customers</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/customers.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="customers pt-3 pb-3">ShopEase Transactions</h2>
        <table class="table table-striped">
            <thead class="headers">
                <tr>
                    <th>ID</th>
                    <th>CustomerID</th>
                    <th>Item Type</th>
                    <th>Item Price</th>
                    <th>Purchase Status</th>
                    <th>Transaction Date</th>
                    <th>Details</th>
                </tr>
            </thead>

            {% for item in item.object_list %}
                <tbody class="customer-details">
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.customer_id }}</td>
                        <td>{{ item.item_type }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>
                            <a href="{% url 'transaction_details' item.id %}" class="btn btn-sm btn-info">Details</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}

        </table>


         <div class="row justify-content-center">
            <div class="col-sm-2">
                {% if data.has_previous %}
                    <a class="btn btn-outline-info btn-sm" href="?page={{ data.previous_page_number }}"> << </a>
                {% endif %}
                <span class="mx-3">{{ data.number }}</span>
                {% if data.has_next %}
                    <a class="btn btn-outline-info btn-sm" href="?page={{ data.next_page_number }}"> >> </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
